<div >     
    <h1>Homepage</h1>  
    <% posts.forEach(post=>{%>
        <div>
            <% if(post.postImage){%>
                <img src="../public/uploads/images/<%= post.postImage %>"/>
            <%} else {%>
                <img src="../public/images/img_default.png"/>
            <% }%>
        </div>
        <div>
            <p><a href="/public/<%=post.postUser%>"><%=post.postUser%></a> </p>
            
            <p><%= post.post %> </p>
            <p>created at <%= post.postDateString%></p>
            
        </div>
    <%})%>    
</div>