<%- include ("./partials/navbar.ejs") %> 
<div style="margin-top: 100px; text-align: center;">     
    <h1 style="text-transform: uppercase;">Posts</h1>  
    <div style="margin: 50px 200px">
        <% posts.forEach( (post) =>{%>
            <div style="padding: 20px;">
                <a href="/user/<%= post.user%>"><img src="/<%= post.image %>" alt="A user photo" height="50px" ></a>
                <a href="/user/<%= post.user%>"><b><%= post.user %></b></a>  <%= post.dateString %> <br />
                <div style="padding: 20px">
                    <%= post.content %> 
                </div>
            </div>
            <hr>
        <%})%>  
    </div>   
</div>