<div class="form__register">
    <h1>Register</h1>

    <%- include ("partials/messages.ejs") %>

    <form action="/users/register" method="POST">
        <div class="form__field">
            <label class="form__label" for="name">Name: <span style="color: red">*</span>  </label>
            <input 
                class="form__input"
                type = "name" 
                name = "name"
                placeholder = "Enter your name"
                value = "<%= typeof name != 'undefined' ? name : '' %>"
            />
        </div>
        <div class="form__field">
            <label class="form__label" for="password">Password: <span style="color: red">*</span> </label>
            <input 
                class="form__input"
                type = "password" 
                name = "password"
                placeholder = "Create a password"
                value = "<%= typeof password != 'undefined' ? password : '' %>"
            />
        </div>
        <div class="form__field">
            <label class="form__label" for="email">Email: </label>
            <input 
                class="form__input"
                type = "email" 
                name = "email"
                placeholder = "Enter email"
                value = "<%= typeof email != 'undefined' ? email : '' %>"
            />
        </div>
        <div class="form__field" for="firstName">
            <label class="form__label">First Name:</label>
            <input 
                class="form__input"
                type = "firstName" 
                name = "firstName"
                placeholder = "Enter your firstName"
                value = "<%= typeof firstName != 'undefined' ? firstName : '' %>"
            />
        </div>

        <div class="form__field">
            <label class="form__label" for="lastName">Last Name:</label>
            <input 
                class="form__input"
                type = "lastName" 
                name = "lastName"
                placeholder = "Enter your lastName"
                value = "<%= typeof lastName != 'undefined' ? lastName : '' %>"
            />
        </div>
        <div class="form__field">
            <button type="submit" class="form__btn">
                Register
            </button>
        </div>
    </form>
    <p >Have an account? 
        <a href="/users/login" class="form__link">Login</a>
    </p>
</div>
