<div class="form__register">
    <h1>Register</h1>

    <%- include ("partials/messages.ejs") %>

    <form action="/users/register" method="POST">
        <div class="form__field">
            <label class="form__label" for="name">Name: </label>
            <input 
                class="form__input"
                type = "name" 
                name = "name"
                placeholder = "Enter your name"
                value = "<%= typeof name != 'undefined' ? name : '' %>"
            />
        </div>
        <div class="form__field">
            <label class="form__label" for="email">Email: </label>
            <input 
                class="form__input"
                type = "email" 
                name = "email"
                placeholder = "Enter email"
                value = "<%= typeof email != 'undefined' ? email : '' %>"
            />
        </div>
        <div class="form__field">
            <label class="form__label" for="password">Password: </label>
            <input 
                class="form__input"
                type = "password" 
                name = "password"
                placeholder = "Create a password"
                value = "<%= typeof password != 'undefined' ? password : '' %>"
            />
        </div>
        <div class="form__field" for="password2">
            <label class="form__label">Confirm Password: </label>
            <input 
                class="form__input"
                type = "password" 
                name = "password2"
                placeholder = "Confirm your password"
                value = "<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
        </div>
        <div class="form__field">
            <button type="submit" class="form__btn">
                Register
            </button>
        </div>
    </form>
    <p >Have an account? 
        <a href="/users/login" class="form__link">Login</a>
    </p>
</div>
