<div class="main">
    <%- include ("./partials/nav.ejs") %> 
    <div class="main__column">
        <div>
            <div class="main__info">
                <p style="color: #499edf; font-weight: bold; font-size: 24px;">Hello, <%= name %> </p>
                <img 
                    src="/<%= image %>" 
                    alt="A user photo" 
                    height="50px"
                    class="rounded"
                />
            </div>
        </div>
        <div class="main__post">
            <h2>Create a post</h2>
            <%- include ("partials/messages.ejs") %>
            <form action="/user" method="POST">
                <textarea name="content" placeholder="What you want to do" rows="10" cols="50"></textarea><br />
                <button type="submit" class="btn">Publish</button>
            </form>
        </div>
        <div>
            <% posts.forEach( (post) =>{%>
                <div style="padding: 20px;">
                    <a href="/user/<%=post.creator._id%>"><img src="/<%= post.creator.img %>" alt="A user photo" height="50px" ></a>
                    <a class="user__link" href="/user/<%= post.creator._id%>"><%= post.creator.name %></a>  <%= post.createdAt %> <br />
                    <div style="margin-top: 10px; padding: 20px; background-color: #c9c5c5; text-align: justify; color: #000">
                        <%= post.content %> 
                    </div>
                </div>
                <hr>
            <%})%>  
        </div>
    </div>
    
</div>