<div class="main">
    <div class="main__centercolumn">
        <div class="main__post">
            <h2>Create a post</h2>
            <%- include ("partials/messages.ejs") %>
            <form action="/user" method="POST">
                <textarea name="content" placeholder="What you want to do" rows="10" cols="50"></textarea><br />
                <button type="submit">Publish</button>
            </form>
        </div>
        <div>
            <% posts.forEach( (post) =>{%>
                <div style="padding: 20px;">
                    <a href="/user/<%= post.user%>"><img src="/<%= post.image %>" alt="A user photo" height="50px" ></a>
                    <a class="user__link" href="/user/<%= post.user%>"><%= post.user %></a>  <%= post.createdAt %> <br />
                    <div style="margin-top: 10px; padding: 20px; background-color: #c9c5c5; text-align: justify; color: #000">
                        <%= post.content %> 
                    </div>
                </div>
                <hr>
            <%})%>  
        </div>
        
    </div>
    <div class="main__rightcolumn">
        <div>
            <p style="color: #499edf; font-weight: bold; font-size: 24px;">Hello, <%= user.name %> </p>
        </div>
        <div class="main__links">
            <a href="/user/profile" class="info__link main__link">Profile</a>
            <a href="/logout" class="info__link main__link">Logout</a>
        </div>
    </div>
</div>