<div class="main">
    <div class="main__leftcolumn">

    </div>
    <div class="main__centercolumn">
        <div class="main__post">
            <h2>Create a post</h2>
            <form action="/user" method="POST">
                <textarea name="message"></textarea><br />
                <button type="submit">Publish</button>
            </form>
        </div>
        <% posts.forEach(post=>{%>
            <div>
                <% if(post.postImage){%>
                    <img src="../public/uploads/images/<%= post.postImage %>"/>
                <%} else {%>
                    <img src="../public/images/img_default.png"/>
                <% }%>
            </div>
            <div>
                <p><a href="/public/<%=post.postUser%>"><%=post.postUser%></a> </p>
                
                <p><%= post.post %> </p>
                <p>created at <%= post.postDateString%></p>
                
            </div>
        <%})%>  
    </div>
    <div class="main__rightcolumn">
        <div>
            <p>Hello, <%= user.name %> </p>
        </div>
        <div class="main__links">
            <a href="/user/userInfo" class="info__link main__link">Profile</a>
            <a href="/logout" class="info__link main__link">Logout</a>
        </div>
    </div>
</div>
