<div class="info">
    <div>
        <h1>User Profile</h1>
        <img src="/<%= user.img %>" alt="A user photo" height="100px">
        <p><span style="font-weight: bold; color: red">NAME: </span><%= user.name %></p>
        <p><span>EMAIL: </span> <%= user.email %></p>
        <p><span>FIRST NAME: </span> <%= user.firstName %></p>
        <p><span>LAST NAME: </span> <%= user.lastName %></p>
        
    </div>
    
    <form action="/home">
        <input action="/home" type="submit" value="Back">
    </form>

    <h1>Edit user profile</h1>

        <h2>Photo upload</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
                <input name="file" type="file">
                <button type="submit">Upload file</button>
        </form>

        <form action="/edit_user" method="POST">
            First name: <input type="text" name="firstName"><br/>
            <br/>
            Last name: <input type="text" name="lastName"><br/>
            <br/>
            Email: <input type="email" name="email"><br/>
            <br/>
            <button type="submit">Edit user</button>
        </form>


        
    <div class="info__link">
        <a href="/users/logout">Logout</a>
    </div>
</div>